@page "/print"
@inject HttpClient Http
@inject IJSRuntime JS
<PageTitle>法規彙編 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>
<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li><a href="">首頁</a></li>
        <li>法規彙編列印</li>
    </ul>
</div>

@if (laws == null)
{
    <p><em>Loading...</em></p>
}
else 
{ 
    <script>
        function Pprint () 
        { 
            var newWin = window.open( '' , '列印視窗' ) ; 
            newWin.document.open() ; 
            newWin.document.write('\u{003C}html>\u{003C}head>\u{003C}link rel="preconnect" href="https://fonts.googleapis.com">\u{003C}link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>\u{003C}link rel="stylesheet" href="css/print.css">\u{003C}script src="js/print.js">\u{003C}/script>\u{003C}/head>\u{003C}body>\u{003C}main>\u{003C}/main>\u{003C}/body>\u{003C}/html>' ) ;
            newWin.document.close() ; 
        } 
    </script>
    <div ahhhhaaaahaha>
        <span id="COVER">
            <button onclick="window.print()">列印</button>
            <button onclick="Pprint()">列印（開新視窗）</button>
            <div>臺中市立臺中第一高級中等學校<br>學生自治聯合會</div>
            <h1>法規彙編</h1><br/>
            <span>113-2</span><br/>
        </span>
        <span>
            <span class="title">目錄</span>
            <div id="A">
                <h1>中央法規</h1>
                @for (int i = 0 ; i < ic ; i ++ )
                {
                    <a href="#@i"><span class="abandoned">@lc[i].LawAbandonNote</span>@lc[i].LawName</a>
                }
            </div>
            <div id="B">
                <h1>行政法規</h1>
                @for (int i = 0; i < iex; i++)
                {
                    <a href="#@( i + ic )"><span class="abandoned">@lex[i].LawAbandonNote</span>@lex[i].LawName</a>
                }
            </div>
            <div id="C">
                <h1>立法法規</h1>
                @for (int i = 0; i < il; i++)
                {
                    <a href="#@( i + ic + iex )"><span class="abandoned">@ll[i].LawAbandonNote</span>@ll[i].LawName</a>
                }
            </div>
            <div id="D">
                <h1>司法法規</h1>
                @for (int i = 0; i < ij; i++)
                {
                    <a href="#@( i + ic + iex + il )"><span class="abandoned">@lj[i].LawAbandonNote</span>@lj[i].LawName</a>
                }
            </div>
            <div id="E">
                <h1>選舉法規</h1>
                @for (int i = 0; i < iel; i++)
                {
                    <a href="#@( i + ic + iex + il + ij )"><span class="abandoned">@lel[i].LawAbandonNote</span>@lel[i].LawName</a>
                }
            </div>
        </span>
        <span class="break">
            <div style="display:inline;">中央法規</div>
        </span>
        @for (int i = 0; i < ic; i++)
        {
            <div id="@i">
                <div class="title">
                    <span class="abandoned">@lc[i].LawAbandonNote</span>
                    @if (lc[i].LawName.Contains("臺中市立臺中第一高級中等學校學生自治聯合會"))
                    {
                        <span>臺中市立臺中第一高級中等學校學生自治聯合會<br />@lc[i].LawName.Split("臺中市立臺中第一高級中等學校學生自治聯合會")[1]</span>
                    }
                    else if (lc[i].LawName.Contains("臺中第一高級中學"))
                    {
                        <span>臺中第一高級中學<br />@lc[i].LawName.Split("臺中第一高級中學")[1]</span>
                    }
                </div>
                <ol class="legislativeHistory">
                    @foreach (var his in lc[i].LawHistories.Split("\r\n"))
                    {
                        <li>@his</li>
                    }
                </ol>
                <div class="Foreword">
                    @if( i == 0 ) 
                    {
                        <span>宗旨</span>
                    }
                    <p>
                        @foreach (var fw in lc[i].LawForeword.Split( "\r\n" ) )
                        {
                            @fw<br/>
                        }
                    </p><br />
                </div>
                @foreach( var art in lc[i].LawArticles ) 
                {
                    @if( art.ArticleType == "C" ) 
                    {
                        @if( art.ArticleContent[0] == '第' ) @*編*@
                        {
                            <h1><pre>@( art.ArticleContent.Split( '編' )[0] + "編 " )</pre><span>@art.ArticleContent.Split( '編' )[1]</span></h1><br/>
                        }
                        else if( art.ArticleContent[3] == '第' ) @*章*@
                        {
                            <h2><pre>@( art.ArticleContent.Split( '章' )[0] + "章 " )</pre><span>@art.ArticleContent.Split( '章' )[1]</span></h2><br/>
                        }
                        else if( art.ArticleContent[6] == '第' ) @*節*@
                        {
                            <h3><pre>@( art.ArticleContent.Split( '節' )[0] + "節 " )</pre><span>@art.ArticleContent.Split( '節' )[1]</span></h3><br/>
                        }
                        else if( art.ArticleContent[9] == '第' ) @*款*@
                        {
                            <h4><pre>@( art.ArticleContent.Split( '款' )[0] + "款 " )</pre><span>@art.ArticleContent.Split( '款' )[1]</span></h4><br/>
                        }
                        else if( art.ArticleContent[12] == '第' ) @*目*@
                        {
                            <h5><pre>@( art.ArticleContent.Split( '目' )[0] + "目 " )</pre><span>@art.ArticleContent.Split( '目' )[1]</span></h5><br/>
                        }
                    }
                    else 
                    {
                        <h6>
                            @if (art.ArticleNo.Contains('【') && art.ArticleNo != "" && art.ArticleNo != null )
                            {
                                <span>@art.ArticleNo.Split('【')[0]</span>
                                <span>@Regex.Split(art.ArticleNo, @"條(?=【)")[1]</span>
                            }
                            else 
                            {
                                <span>@art.ArticleNo</span>
                            }
                        </h6>
                        <article class="@showNum[iSN]">
                            @foreach( var p in art.ArticleContent.Split( "\r\n" ) ) 
                            {
                                @if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" ) ) 
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" , "")</span></li>
                                }
                                else if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) 
                                {
                                    <li><span>@( p.Split( '.' )[0] + "." )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" , "")</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)"))
                                {
                                    <li><span>@( p.Split( '）' )[0] + "）" )</span><span>@Regex.Replace( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)" , "" )</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)"))
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)" , "")</span></li>
                                }
                                else 
                                {
                                    <li class="p">@p</li>
                                }
                            }
                        </article>
                        <br/>
                        iSN ++ ; 
                    }
                }
            </div>
        }
        <span class="break">
            <div style="display:inline;">行政法規</div>
        </span>
        @for (int i = 0; i < iex; i++)
        {
            <div id="@( i + ic )">
                <div class="title">
                    <span class="abandoned">@lex[i].LawAbandonNote</span>
                    @if (lex[i].LawName.Contains("臺中市立臺中第一高級中等學校學生自治聯合會"))
                    {
                        <span>臺中市立臺中第一高級中等學校學生自治聯合會<br />@lex[i].LawName.Split("臺中市立臺中第一高級中等學校學生自治聯合會")[1]</span>
                    }
                    else if (lex[i].LawName.Contains("臺中第一高級中學"))
                    {
                        <span>臺中第一高級中學<br />@lex[i].LawName.Split("臺中第一高級中學")[1]</span>
                    }
                </div>
                <ol class="legislativeHistory">
                    @foreach (var his in lex[i].LawHistories.Split("\r\n"))
                    {
                        <li>@his</li>
                    }
                </ol>
                <div class="Foreword">
                    <p>
                        @foreach (var fw in lex[i].LawForeword.Split( "\r\n" ) )
                        {
                            @fw<br/>
                        }
                    </p>
                </div>
                <br />
                @foreach( var art in lex[i].LawArticles ) 
                {
                    @if( art.ArticleType == "C" ) 
                    {
                        @if( art.ArticleContent[0] == '第' ) @*編*@
                        {
                            <h1><pre>@( art.ArticleContent.Split( '編' )[0] + "編 " )</pre><span>@art.ArticleContent.Split( '編' )[1]</span></h1><br/>
                        }
                        else if( art.ArticleContent[3] == '第' ) @*章*@
                        {
                            <h2><pre>@( art.ArticleContent.Split( '章' )[0] + "章 " )</pre><span>@art.ArticleContent.Split( '章' )[1]</span></h2><br/>
                        }
                        else if( art.ArticleContent[6] == '第' ) @*節*@
                        {
                            <h3><pre>@( art.ArticleContent.Split( '節' )[0] + "節 " )</pre><span>@art.ArticleContent.Split( '節' )[1]</span></h3><br/>
                        }
                        else if( art.ArticleContent[9] == '第' ) @*款*@
                        {
                            <h4><pre>@( art.ArticleContent.Split( '款' )[0] + "款 " )</pre><span>@art.ArticleContent.Split( '款' )[1]</span></h4><br/>
                        }
                        else if( art.ArticleContent[12] == '第' ) @*目*@
                        {
                            <h5><pre>@( art.ArticleContent.Split( '目' )[0] + "目 " )</pre><span>@art.ArticleContent.Split( '目' )[1]</span></h5><br/>
                        }
                    }
                    else 
                    {
                        <h6>
                            @if (art.ArticleNo.Contains('【') && art.ArticleNo != "" && art.ArticleNo != null )
                            {
                                <span>@art.ArticleNo.Split('【')[0]</span>
                                <span>@Regex.Split(art.ArticleNo, @"條(?=【)")[1]</span>
                            }
                            else 
                            {
                                <span>@art.ArticleNo</span>
                            }
                        </h6>
                        <article class="@showNum[iSN]">
                            @foreach( var p in art.ArticleContent.Split( "\r\n" ) ) 
                            {
                                @if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" ) ) 
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" , "")</span></li>
                                }
                                else if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) 
                                {
                                    <li><span>@( p.Split( '.' )[0] + "." )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" , "")</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)"))
                                {
                                    <li><span>@( p.Split( '）' )[0] + "）" )</span><span>@Regex.Replace( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)" , "" )</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)"))
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)" , "")</span></li>
                                }
                                else 
                                {
                                    <li class="p">@p</li>
                                }
                            }
                        </article>
                        <br/>
                        iSN ++ ; 
                    }
                }
            </div>
        }
        <span class="break">
            <div style="display:inline;">立法法規</div>
        </span>
        @for (int i = 0; i < il; i++)
        {
            <div id="@( i + ic + iex )">
                <div class="title">
                    <span class="abandoned">@ll[i].LawAbandonNote</span>
                    @if (ll[i].LawName.Contains("臺中市立臺中第一高級中等學校學生自治聯合會"))
                    {
                        <span>臺中市立臺中第一高級中等學校學生自治聯合會<br />@ll[i].LawName.Split("臺中市立臺中第一高級中等學校學生自治聯合會")[1]</span>
                    }
                    else if (ll[i].LawName.Contains("臺中第一高級中學"))
                    {
                        <span>臺中第一高級中學<br />@ll[i].LawName.Split("臺中第一高級中學")[1]</span>
                    }
                </div>
                <ol class="legislativeHistory">
                    @foreach (var his in ll[i].LawHistories.Split("\r\n"))
                    {
                        <li>@his</li>
                    }
                </ol>
                <div class="Foreword">
                    <p>
                        @foreach (var fw in ll[i].LawForeword.Split( "\r\n" ) )
                        {
                            @fw<br/>
                        }
                    </p>
                </div>
                <br />
                @foreach( var art in ll[i].LawArticles ) 
                {
                    @if( art.ArticleType == "C" ) 
                    {
                        @if( art.ArticleContent[0] == '第' ) @*編*@
                        {
                            <h1><pre>@( art.ArticleContent.Split( '編' )[0] + "編 " )</pre><span>@art.ArticleContent.Split( '編' )[1]</span></h1><br/>
                        }
                        else if( art.ArticleContent[3] == '第' ) @*章*@
                        {
                            <h2><pre>@( art.ArticleContent.Split( '章' )[0] + "章 " )</pre><span>@art.ArticleContent.Split( '章' )[1]</span></h2><br/>
                        }
                        else if( art.ArticleContent[6] == '第' ) @*節*@
                        {
                            <h3><pre>@( art.ArticleContent.Split( '節' )[0] + "節 " )</pre><span>@art.ArticleContent.Split( '節' )[1]</span></h3><br/>
                        }
                        else if( art.ArticleContent[9] == '第' ) @*款*@
                        {
                            <h4><pre>@( art.ArticleContent.Split( '款' )[0] + "款 " )</pre><span>@art.ArticleContent.Split( '款' )[1]</span></h4><br/>
                        }
                        else if( art.ArticleContent[12] == '第' ) @*目*@
                        {
                            <h5><pre>@( art.ArticleContent.Split( '目' )[0] + "目 " )</pre><span>@art.ArticleContent.Split( '目' )[1]</span></h5><br/>
                        }
                    }
                    else 
                    {
                        <h6>
                            @if (art.ArticleNo.Contains('【') && art.ArticleNo != "" && art.ArticleNo != null )
                            {
                                <span>@art.ArticleNo.Split('【')[0]</span>
                                <span>@Regex.Split(art.ArticleNo, @"條(?=【)")[1]</span>
                            }
                            else 
                            {
                                <span>@art.ArticleNo</span>
                            }
                        </h6>
                        <article class="@showNum[iSN]">
                            @foreach( var p in art.ArticleContent.Split( "\r\n" ) ) 
                            {
                                @if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" ) ) 
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" , "")</span></li>
                                }
                                else if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) 
                                {
                                    <li><span>@( p.Split( '.' )[0] + "." )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" , "")</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)"))
                                {
                                    <li><span>@( p.Split( '）' )[0] + "）" )</span><span>@Regex.Replace( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)" , "" )</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)"))
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)" , "")</span></li>
                                }
                                else 
                                {
                                    <li class="p">@p</li>
                                }
                            }
                        </article>
                        <br/>
                        iSN ++ ; 
                    }
                }
            </div>
        }
        <span class="break">
            <div style="display:inline;">司法法規</div>
        </span>
        @for (int i = 0; i < ij; i++)
        {
            <div id="@( i + ic + iex + il )">
                <div class="title">
                    <span class="abandoned">@lj[i].LawAbandonNote</span>
                    @if (lj[i].LawName.Contains("臺中市立臺中第一高級中等學校學生自治聯合會"))
                    {
                        <span>臺中市立臺中第一高級中等學校學生自治聯合會<br />@lj[i].LawName.Split("臺中市立臺中第一高級中等學校學生自治聯合會")[1]</span>
                    }
                    else if (lj[i].LawName.Contains("臺中第一高級中學"))
                    {
                        <span>臺中第一高級中學<br />@lj[i].LawName.Split("臺中第一高級中學")[1]</span>
                    }
                </div>
                <ol class="legislativeHistory">
                    @foreach (var his in lj[i].LawHistories.Split("\r\n"))
                    {
                        <li>@his</li>
                    }
                </ol>
                <div class="Foreword">
                    <p>
                        @foreach (var fw in lj[i].LawForeword.Split( "\r\n" ) )
                        {
                            @fw<br/>
                        }
                    </p>
                </div>
                <br />
                @foreach( var art in lj[i].LawArticles ) 
                {
                    @if( art.ArticleType == "C" ) 
                    {
                        @if( art.ArticleContent[0] == '第' ) @*編*@
                        {
                            <h1><pre>@( art.ArticleContent.Split( '編' )[0] + "編 " )</pre><span>@art.ArticleContent.Split( '編' )[1]</span></h1><br/>
                        }
                        else if( art.ArticleContent[3] == '第' ) @*章*@
                        {
                            <h2><pre>@( art.ArticleContent.Split( '章' )[0] + "章 " )</pre><span>@art.ArticleContent.Split( '章' )[1]</span></h2><br/>
                        }
                        else if( art.ArticleContent[6] == '第' ) @*節*@
                        {
                            <h3><pre>@( art.ArticleContent.Split( '節' )[0] + "節 " )</pre><span>@art.ArticleContent.Split( '節' )[1]</span></h3><br/>
                        }
                        else if( art.ArticleContent[9] == '第' ) @*款*@
                        {
                            <h4><pre>@( art.ArticleContent.Split( '款' )[0] + "款 " )</pre><span>@art.ArticleContent.Split( '款' )[1]</span></h4><br/>
                        }
                        else if( art.ArticleContent[12] == '第' ) @*目*@
                        {
                            <h5><pre>@( art.ArticleContent.Split( '目' )[0] + "目 " )</pre><span>@art.ArticleContent.Split( '目' )[1]</span></h5><br/>
                        }
                    }
                    else 
                    {
                        <h6>
                            @if (art.ArticleNo.Contains('【') && art.ArticleNo != "" && art.ArticleNo != null )
                            {
                                <span>@art.ArticleNo.Split('【')[0]</span>
                                <span>@Regex.Split(art.ArticleNo, @"條(?=【)")[1]</span>
                            }
                            else 
                            {
                                <span>@art.ArticleNo</span>
                            }
                        </h6>
                        <article class="@showNum[iSN]">
                            @foreach( var p in art.ArticleContent.Split( "\r\n" ) ) 
                            {
                                @if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" ) ) 
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" , "")</span></li>
                                }
                                else if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) 
                                {
                                    <li><span>@( p.Split( '.' )[0] + "." )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" , "")</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)"))
                                {
                                    <li><span>@( p.Split( '）' )[0] + "）" )</span><span>@Regex.Replace( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)" , "" )</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)"))
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)" , "")</span></li>
                                }
                                else 
                                {
                                    <li class="p">@p</li>
                                }
                            }
                        </article>
                        <br/>
                        iSN ++ ; 
                    }
                }
            </div>
        }
        <span class="break">
            <div style="display:inline;">選舉法規</div>
        </span>
        @for (int i = 0; i < iel; i++)
        {
            <div id="@( i + ic + iex + il + ij )">
                <div class="title">
                    <span class="abandoned">@lel[i].LawAbandonNote</span>
                    @if (lel[i].LawName.Contains("臺中市立臺中第一高級中等學校學生自治聯合會"))
                    {
                        <span>臺中市立臺中第一高級中等學校學生自治聯合會<br />@lel[i].LawName.Split("臺中市立臺中第一高級中等學校學生自治聯合會")[1]</span>
                    }
                    else if (lel[i].LawName.Contains("臺中第一高級中學"))
                    {
                        <span>臺中第一高級中學<br />@lel[i].LawName.Split("臺中第一高級中學")[1]</span>
                    }
                </div>
                <ol class="legislativeHistory">
                    @foreach (var his in lel[i].LawHistories.Split("\r\n"))
                    {
                        <li>@his</li>
                    }
                </ol>
                <div class="Foreword">
                    <p>
                        @foreach (var fw in lel[i].LawForeword.Split( "\r\n" ) )
                        {
                            @fw<br/>
                        }
                    </p>
                </div>
                <br />
                @foreach( var art in lel[i].LawArticles ) 
                {
                    @if( art.ArticleType == "C" ) 
                    {
                        @if( art.ArticleContent[0] == '第' ) @*編*@
                        {
                            <h1><pre>@( art.ArticleContent.Split( '編' )[0] + "編 " )</pre><span>@art.ArticleContent.Split( '編' )[1]</span></h1><br/>
                        }
                        else if( art.ArticleContent[3] == '第' ) @*章*@
                        {
                            <h2><pre>@( art.ArticleContent.Split( '章' )[0] + "章 " )</pre><span>@art.ArticleContent.Split( '章' )[1]</span></h2><br/>
                        }
                        else if( art.ArticleContent[6] == '第' ) @*節*@
                        {
                            <h3><pre>@( art.ArticleContent.Split( '節' )[0] + "節 " )</pre><span>@art.ArticleContent.Split( '節' )[1]</span></h3><br/>
                        }
                        else if( art.ArticleContent[9] == '第' ) @*款*@
                        {
                            <h4><pre>@( art.ArticleContent.Split( '款' )[0] + "款 " )</pre><span>@art.ArticleContent.Split( '款' )[1]</span></h4><br/>
                        }
                        else if( art.ArticleContent[12] == '第' ) @*目*@
                        {
                            <h5><pre>@( art.ArticleContent.Split( '目' )[0] + "目 " )</pre><span>@art.ArticleContent.Split( '目' )[1]</span></h5><br/>
                        }
                    }
                    else 
                    {
                        <h6>
                            @if (art.ArticleNo.Contains('【') && art.ArticleNo != "" && art.ArticleNo != null )
                            {
                                <span>@art.ArticleNo.Split('【')[0]</span>
                                <span>@Regex.Split(art.ArticleNo, @"條(?=【)")[1]</span>
                            }
                            else 
                            {
                                <span>@art.ArticleNo</span>
                            }
                        </h6>
                        <article class="@showNum[iSN]">
                            @foreach( var p in art.ArticleContent.Split( "\r\n" ) ) 
                            {
                                @if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" ) ) 
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、)" , "")</span></li>
                                }
                                else if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) 
                                {
                                    <li><span>@( p.Split( '.' )[0] + "." )</span><span>@Regex.Replace( p , @"^([1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" , "")</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)"))
                                {
                                    <li><span>@( p.Split( '）' )[0] + "）" )</span><span>@Regex.Replace( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)" , "" )</span></li>
                                }
                                else if (Regex.IsMatch(p, @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)"))
                                {
                                    <li><span>@( p.Split( '、' )[0] + "、" )</span><span>@Regex.Replace( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)" , "")</span></li>
                                }
                                else 
                                {
                                    <li class="p">@p</li>
                                }
                            }
                        </article>
                        <br/>
                        iSN ++ ; 
                    }
                }
            </div>
        }
        <span id="COVER-BACK" style="line-height:1.3;">
            <h1>
                <span>臺中市立臺中第一高級中等學校學生自治聯合會&nbsp;法規彙編</span>
            </h1>
            <ul>
                <li>
                    <span>出版者：</span>
                    <span>臺中市立臺中第一高級中等學校學生自治聯合會第三十屆學生會自治部</span>
                </li>
                <li>
                    <span>發行人：</span>
                    <span>@發行人</span>
                </li>
                <li>
                    <span>編輯：</span>
                    <span>
                        @foreach( var x in 編輯 ) 
                        {
                            @if( x != 編輯.Last() ) 
                            {
                                @( x + "、" ) 
                            }
                            else 
                            {
                                @x
                            }
                        }
                    </span>
                </li>
                <li>
                    <span>網站：</span>
                    <a href="https://sites.google.com/view/tcfshsu" style="color:#00f;font-family:&#39;Noto Sans&#39;,sans-serif;">https://sites.google.com/view/tcfshsu</a>
                </li>
                <li>
                    <span>定價：</span>
                    <span>免費供大眾下載使用</span>
                </li>
                <li>
                    <span>出版日期：</span>
                    <span>中華民國 @( Int32.Parse( laws[0].UpdateDate.Split( '/' )[0] ) - 1911 ) 年 @laws[0].UpdateDate.Split( '/' )[1] 月 @laws[0].UpdateDate.Split( '/' )[2] 日</span>
                </li>
            </ul>
        </span>
    </div>
}

<br class="printNoDisplay" /><a class="printNoDisplay" href="">回首頁</a>

@code {

    private LawRoot[]? laws;
    private int aCount ; 
    private int[] pCount ; 
    private string[]? showNum ; 
    private int iSN = 0 ; 
    private int ic = 0;
    private int iex = 0;
    private int il = 0;
    private int ij = 0;
    private int iel = 0;
    public List<L> lc = new List<L>();
    public List<L> lex = new List<L>();
    public List<L> ll = new List<L>();
    public List<L> lj = new List<L>();
    public List<L> lel = new List<L>();
    private string 發行人 = "卓祐宸" ; 
    private string[] 編輯 = { "卓祐宸" } ; 
    protected override async Task OnInitializedAsync()
    {
        laws = await Http.GetFromJsonAsync<LawRoot[]>("json/laws.json");
        foreach( var l in laws[0].Laws ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    aCount ++ ; 
                }
            }
        }
        pCount = new int[aCount] ; 
        showNum = new string[aCount] ; 
        for (int i = 0; i < laws[0].Laws.Length; i++)
        {
            if (laws[0].Laws[i].LawCategory.Contains("選舉法規"))
            {
                lel.Add(laws[0].Laws[i]);
                iel++;
            }
            else if( laws[0].Laws[i].LawCategory.Contains( "中央法規" ) )
            {
                lc.Add(laws[0].Laws[i]);
                ic++;
            }
            else if (laws[0].Laws[i].LawCategory.Contains("行政法規"))
            {
                lex.Add(laws[0].Laws[i]);
                iex++;
            }
            else if (laws[0].Laws[i].LawCategory.Contains("立法法規"))
            {
                ll.Add(laws[0].Laws[i]);
                il++;
            }
            else if (laws[0].Laws[i].LawCategory.Contains("司法法規"))
            {
                lj.Add(laws[0].Laws[i]);
                ij++;
            }
        }
        int ii = 0 ; 
        foreach( var l in lc ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    foreach( var p in a.ArticleContent.Split( "\r\n" ) ) 
                    {
                        if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、|[1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) {}else if (Regex.IsMatch( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)")){}else if (Regex.IsMatch( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)")){}else 
                        {
                            pCount[ ii ] ++ ; 
                        }
                    }
                    ii ++ ; 
                }
            }
        }
        foreach( var l in lex ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    foreach( var p in a.ArticleContent.Split( "\r\n" ) ) 
                    {
                        if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、|[1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) {}else if (Regex.IsMatch( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)")){}else if (Regex.IsMatch( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)")){}else 
                        {
                            pCount[ ii ] ++ ; 
                        }
                    }
                    ii ++ ; 
                }
            }
        }
        foreach( var l in ll ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    foreach( var p in a.ArticleContent.Split( "\r\n" ) ) 
                    {
                        if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、|[1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) {}else if (Regex.IsMatch( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)")){}else if (Regex.IsMatch( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)")){}else 
                        {
                            pCount[ ii ] ++ ; 
                        }
                    }
                    ii ++ ; 
                }
            }
        }
        foreach( var l in lj ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    foreach( var p in a.ArticleContent.Split( "\r\n" ) ) 
                    {
                        if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、|[1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) {}else if (Regex.IsMatch( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)")){}else if (Regex.IsMatch( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)")){}else 
                        {
                            pCount[ ii ] ++ ; 
                        }
                    }
                    ii ++ ; 
                }
            }
        }
        foreach( var l in lel ) 
        {
            foreach( var a in l.LawArticles) 
            {
                if( a.ArticleType == "A" ) 
                {
                    foreach( var p in a.ArticleContent.Split( "\r\n" ) ) 
                    {
                        if( Regex.IsMatch( p , @"^([1-9]{1}[0-9]+、|[1-9]{1}、|[１-９]{1}[０-９]+、|[１-９]{1}、|[1-9]{1}[0-9]+\u002E|[1-9]{1}\u002E|[１-９]{1}[０-９]+\u002E|[１-９]{1}\u002E)" ) ) {}else if (Regex.IsMatch( p , @"^(（[一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+）|（[一二三四五六七八九十]{1}）|（[1-9]{1}[0-9]+）|（[1-9]{1}）|（[１-９]{1}[０-９]+）|（[１-９]{1}）)")){}else if (Regex.IsMatch( p , @"^([一二三四五六七八九十]{1}[一二三四五六七八九○零十百]+、|[一二三四五六七八九十]{1}、)")){}else 
                        {
                            pCount[ ii ] ++ ; 
                        }
                    }
                    ii ++ ; 
                }
            }
        }
        for( int pc = 0 ; pc < aCount ; pc ++ ) 
        {
            showNum[pc] = pCount[pc] > 1 ? "showNum" : null ; 
        }
    }

    public class LawRoot
    {
        public string UpdateDate { get; set; }
        public L[] Laws { get; set; }
    }
    public class L
    {
        public string LawLevel { get; set; }
        public string LawName { get; set; }
        public string LawURL { get; set; }
        public string LawCategory { get; set; }
        public string LawModifiedDate { get; set; }
        public string? LawEffectiveDate { get; set; }
        public string? LawEffectiveNote { get; set; }
        public string? LawAbandonNote { get; set; }
        public string LawHasEngVersion { get; set; }
        public string? EngLawName { get; set; }
        public Attachements[]? LawAttachements { get; set; }
        public string LawHistories { get; set; }
        public string? LawForeword { get; set; }
        public A[] LawArticles { get; set; }
    }
    public class A
    {
        public string ArticleType { get; set; }
        public string? ArticleNo { get; set; }
        public string ArticleContent { get; set; }
    }
    public class Attachements
    {
        public string FileName { get; set; }
        public string FileURL { get; set; }
    }
}